@media (max-height: 850px) {
  .main-subtitle {
    margin-top: 0rem;
    font-size: 3vh !important;
  }
  .main-subtitle:last-child {
    margin-top: 1rem;
  }
}

@media (max-width: 1300px) {
  .main-photo {
    bottom: 60%;
    transform: translate(0, 50%);
  }
  .nav-item {
    margin: 0 1rem;
  }
  footer {
    margin-top: 1rem;
  }
}

@media (max-width: 1100px) {
  .nav-item {
    font-size: 2rem;
  }
  .header-search, .header-search-button {
    height: 4rem;
  }
  .header-form {
    margin-top: -0.6rem;
  }
  .header-search::placeholder {
    font-weight: 500;
  }
}

@media (max-width: 950px) {
  .main-photo {
    display: none;
  }
  .nav-item {
    font-size: 2rem;
  }
  .header-search {
    height: 3rem;
    width: 15rem;
  }
  .header-search-button {
    height: 3rem;
  }
  .header-form {
    margin-top: -0.6rem;
  }
  .header-search::placeholder {
    font-weight: 500;
  }
  .main-text {
    text-align: center;
    width: 100%;
  }
  main {
    margin-top: 1rem;
  }
  .main-wrapper--first {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem 1rem;
  }
  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 3rem;
  }
  .footer-button {
    font-size: 6rem;
    margin: 0 2rem;
  }
}

@media (max-width: 850px) {
  header {
    flex-wrap: wrap;
  }
  .header-nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .header-form {
    margin: 0 auto;
    margin-top: 2rem;
  }
  .header-search {
    width: 100%;
  }
  .nav-item {
    font-size: 1.5rem;
  }
  .nav-item::after {
    font-size: 3rem;
    display: none;
  }
  .main-title {
    font-size: 12rem;
  }
  .main-subtitle {
    font-size: 3rem;
  }
  .main-text {
    font-size: 1.5rem;
  }
  footer {
    margin-top: 1rem;
  }
  .footer-button {
    font-size: 5rem;
  }
}

@media (max-width: 600px) {
  .header-nav {
    flex-wrap: wrap;
  }
  .main-title {
    font-size: calc((1vh + 1vw) * 8);
  }
}

@media (max-width: 400px) {
  .main-title {
    font-size: 6rem;
  }
  .main-subtitle {
    font-size: 2rem;
  }
  .nav-item {
    margin-top: 1rem;
  }
}
