$gay: #a6d8ff;
$gold: #ecd478;
$dark: #0E2B46;

@media (max-width: 1300px) {
    .main-photo {
        bottom: 60%;
        transform: translate(0 ,50%);
    }

    .nav-item {
        margin: 0 1rem;
    }

    footer {
        margin-top: 1rem;
    }

}

@media (max-width: 1100px) {

    .nav-item {
        font-size: 2rem;
    }

    .header-search, .header-search-button {
        height: 4rem;
    }

    .header-form {
        margin-top: -0.6rem;
    }

    .header-search::placeholder {
        font-weight: 500;
    }
}

@media (max-width: 950px) {

    .main-photo {
        display: none;
    }

    .nav-item {
        font-size: 2rem;
    }

    .header-search {
        height: 3rem;
        width: 15rem;
    }

    .header-search-button {
        height: 3rem;
    }

    .header-form {
        margin-top: -0.6rem;
    }

    .header-search::placeholder {
        font-weight: 500;
    }

    .main-text {
        text-align: center;
        width: 100%;
    }

    main {
        margin-top: 1rem;
    }

    .main-wrapper--first {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 4rem 1rem;
    }

    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-top: 3rem;
    }

    .footer-button {
        font-size: 6rem;
        margin: 0 2rem;
    }
}